body{overflow-x:hidden;overflow-y:hidden;background:#000000}
#container{width:100%;height:100%;}
#videoBox{width:1366px;height:768px;}
#sideBar{position:absolute; left:1355px; top:0px;display:block;width:530px;height:755px;}
#sideBar ul{list-style-type:none;}
#sideBar ul li img{width:505px;height:380}
#footer{clear:both;}


#bannerTop{
	width: 1900px;
    height: 140px;
    position: absolute;
    top: 780px;
    left:42px;
}

#bannerTop marquee{
	width:1850px;
	height: 100px;
    padding-top: 30px;
	text-align: center;
	font: 34px Helvetica;
  	background: #345666;
  	left:30px;
}

#bannerBottom {
    width: 1900px;
    height: 120px;
    overflow: hidden;
    position: absolute;
    top: 924PX;
    left:0px;
}
#bannerBottom ul {
    width: 100%;
    list-style: none;
}
         
#bannerBottom ul li {
    width: 1880px;
    height: 140px;
    background: #ccc;
    border: 1px solid #000;
    padding-top: 40px;
	text-align: center;
	font: 36px Helvetica;
  	color: #000;
}
#bannerBottom ul li img {
    width: 100px;
    height: 100px;
    float:left;
}